################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/Touhou-Presence/obj
/packages/Newtonsoft.Json.11.0.2
